/* Style */
:root{
    --MainColor: #333;
    --TransSubColor: rgba(0, 0, 0, 0.9);
    --SubColor: #222;
    --ContraColor: white;
}
.style-main {
    background-color: var(--MainColor);
    color: var(--ContraColor);
}
.style-bar {
    background-color: var(--SubColor);
    color: var(--ContraColor);
}
.style-navbar {
    background-color: var(--SubColor);
    opacity: 1;
}

/* Text */
body {
    font: 15px Arial;
    line-height: 1.8;
    height: 100%;
}
h1 {
    font: bolder 80px Arial;
}
h2 {
    font: bolder 40px Arial;
}
h3 {
    font: bold 20px Arial;
}
h4, button {
    font: 20px Arial;
    line-height: 1.8;
}

/* Common classes */
.common-bar {
    height: 62px;
    width: 100%;
}
.common-container {
    width: 100%;
}

/* Navbar */
#navbar {
    width: 100%;
    margin: 0px;
    border-width: 0px;
}
/* Navbar header */
#navbarHeader {
    padding: 1rem 0rem;
    height: 100%;
}
#navbarMenu {
    padding: 20px;
    margin: 0px;
    height: 100%;
}
/* NavbarBody */

.navbar-brand a {
    color: var(--ContraColor)
}
.navbarBodyItem {
    padding: 1rem 0px;
    margin: 0px;
    height: 100%;
    border-width: 0px;
}
.navbarBodyItem li {
    height: 100%;
    color: var(--ContraColor);
}
.navbarBodyItem a {
    color: var(--ContraColor);
}
#navbarBodyLeft li a {
    padding: 25px 20px;
}
#navbarBodyRight {
    margin-right: -20px;
}
#navbarBodyRight li {
    width: 75px;
}
.navbarBodyItem li a:hover,
.navbarBodyItem li a:focus {
    background-color: var(--MainColor) !important;
    color: var(--ContraColor) !important;
    text-decoration: none;
}

/* Projects */
#projects {
    padding-top: 0;
}
.project-section-container {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.project-section-contents {
    margin-left: 0;
    margin-right: 0;
}
.project-item-container {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    overflow: hidden;
}
.project-item {
    height: 350px;
    border: 1.8px solid;
    border-color: #545454;
    border-radius: 5px;
    position: relative;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.project-item-bg {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease-in-out;
}
.project-item-title-container {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    pointer-events: none;
    padding-bottom: 12px;
    padding-top: 12px;
}
.project-item-title {
    font-family: 'Arial';
    color: white;
    font-weight: 100;
    font-size: 30px;
}
