/* Style */
:root{
    --MainColor: #333;
    --TransSubColor: rgba(20, 20, 20, 0.95);
    --SubColor: #222;
    --NavColor: #111;
    --ContraColor: white;
}
.style-main {
    background-color: var(--MainColor);
    color: var(--ContraColor);
}
.style-bar {
    background-color: var(--SubColor);
    color: var(--ContraColor);
}
.style-navbar {
    background-color: var(--NavColor);
}

/*Colors*/
.color-lightblue {
    color: #00e8e8;
}
.color-blue {
    color: #227eff;
}
.color-pink {
    color: #f745d3;
}
.color-green {
    color: #2bc279;
}
.color-orange {
    color: #de9000;
}
.color-red {
    color: #e00000;
}

/* Text */
body {
    font: 15px Verdana;
    line-height: 1.8;
    height: 100%;

}
h1 {
    font: bolder 90px Verdana;
}
h2 {
    font: bolder 40px Verdana;
}
h3 {
    font: bold 20px Verdana;
}
h4, button {
    font: 20px Verdana;
    line-height: 1.8;
}

a {
    outline: 0;
    text-decoration: none;
}

/* Common classes */
.common-bar {
    height: 80px;
    padding: 0 calc(50%);
}
.common-container {
    width: 100%;
}
.common-bar-text {
    font: bolder 100px Verdana;
    padding: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Navbar */
#navbar {
    width: 100%;
    height: 60px;
}
/* Navbar header */
#navbarHeader {
    padding: 1rem 0rem;
    height: 100%;
}
#navbarMenu {
    padding: 20px;
    margin: 0px;
    height: 100%;
}
/* NavbarBody */

.navbar-brand a {
    color: var(--ContraColor)
}
.navbarBodyItem {
    font: 18px Verdana;
    padding: 1rem 0px;
    margin: 0px;
    height: 100%;
    border-width: 0px;
}
.navbarBodyItem li {
    height: 100%;
    color: var(--ContraColor);
}
.navbarBodyItem a {
    color: var(--ContraColor);
}
#navbarBodyLeft li a {
    padding: 20px 20px;
}
#navbarBodyRight {
    margin-right: -20px;
}
#navbarBodyRight li {
    width: 75px;
}
.navbarBodyItem li a:hover,
.navbarBodyItem li a:focus {
    background-color: var(--MainColor) !important;
    color: var(--ContraColor) !important;
    text-decoration: none;
}

/* Home */
#homeview {
    height: calc(100% - 80px);
}
.home-container {
    text-align: center;
}
.home-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.home-typewriter {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    border-right: .15em solid #268e6c;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    font-size: 35px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Projects */
#projects {
    padding-top: 0px;
}
.project-section-container {
    display: block;
    margin-top: 40px;
}
.project-section-contents {
    margin-left: 0;
    margin-right: 0;
}
.project-item-container {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    overflow: hidden;
}
.project-item {
    height: 350px;
    border: 2px solid;
    border-color: #545454;
    border-radius: 5px;
    position: relative;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.project-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease-in-out;
}
.project-item-title-container {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    pointer-events: none;
    padding-bottom: 12px;
    padding-top: 12px;
}
.project-item-title {
    font-family: 'Verdana', serif;
    color: white;
    font-weight: 100;
    font-size: 35px;
}
.project-item-tags-container {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
    text-align: left;
    overflow: hidden;
}
.project-item-tag {
    height: 24px;
    min-width: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Verdana',serif;
    font-weight: 100;
    font-size: 14px;
    float: left;
    border: solid 2px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
}
.project-item-desc-container {
    margin-top: 10px;
    max-width: 90%;
    bottom: 0;
    text-align: justify;
    display: inline-block;
}
.project-item-desc {
    font-family: 'Verdana', serif;
    color: white;
    font-weight: 100;
    font-size: 18px;
}

/* About */
#about {
    height: calc(100% - 60px);
    color: var(--MainColor);
}
.about-section-container {
    display: block;
    margin-top: 20px;
    padding-bottom: 30px;

}
.about-section-contents {
    margin-left: 0;
    margin-right: 0;
    max-width: 70%;
    text-align: justify;
    display: inline-block;
}
.about-section-text {
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Verdana', serif;
    color: white;
    font-weight: 100;
    font-size: 18px;
}
.social-section-container {
    user-select: none;

}
.social-icon {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 60;
    border: none;
    display: inline-block;
}

.social-icon:visited {
    text-decoration: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.social-icon:hover {
    color: black;
}